/*  questo è un commento css */
/* @import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&family=Roboto:ital,wght@0,100;0,400;1,300;1,700&display=swap'); */

/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.centratura {
  padding: 0 5%;
}

.button-green {
  display: inline-block;
  background-color: green;
  padding: 10px;
  border-radius: 3px;
}

/* regole di griglia */
.riga::after {
  content: "";
  display: table;
  clear: both;
}

.colonna15 {
  width: 15%;
  float: left;

}

.colonna33 {
  width: calc(100% / 3);
  float: left;
  /* debug */
  background-color: red;
  height: 100px;
  border: solid 1px #000;
}

.colonna40 {
  width: 40%;
  float: left;

}

.colonna45 {
  width: 45%;
  float: left;

}

.colonna50 {
  width: 50%;
  float: left;
  /* debug */
  background-color: red;
  height: 100px;
  border: solid 1px #000;
}



/* header */

header {
  color: #fff;
  background: #0c325a url('../img/fluentify-jumbo.png') no-repeat;
  background-size: 50%;
  background-position: 117% bottom;
  /* debug */
  min-height: 400px;

}

#logo {
  margin-top: 15px;
}

header a {
  color: #fff;
  text-decoration: none;
}

.main-nav{
  height: 80px;
  line-height: 80px;
}

.main-nav ul li {
  display: inline-block;
  padding-right: 10px;
  /* list-style: none; */
}

#jumbo {
  margin: 60px 0;
}

#jumbo h1 {
  font-size: 40px;
  margin-bottom: 10px;
}


/* parte principale */
main {
  /* debug */
  background-color: green;
}

section{
  margin-bottom: 30px;
}

/* sezione 1 */
#sezione1 {
  background-color: #ccc;
  /* debug */
  height: 100px;
}

/* sezioone2 */
