/*  questo è un commento css */
/* @import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&family=Roboto:ital,wght@0,100;0,400;1,300;1,700&display=swap'); */

/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blue {
  background-color: blue;
  width: 300px;
  height: 300px;
  display: inline-block;
  position: relative;
}

.red {
  background-color: red;
  width: 50px;
  height: 50px;
}

.blue:first-child .red:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
}

.blue:last-child .red:last-child {
  position: relative;
  left: 20px;
}
