/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.class1 {
    background-color: orchid;
}

div.class1 {
    color: red;
}

input[type="email"] {
    background-color: plum;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: purple;
}

a:hover {
    text-decoration: underline;
    color: red;
}

ul li {
    padding-left: 10px;
}

ul li:first-child {
    color: salmon;
}

input[type="checkbox"]:checked {
    width: 40px;
}