/* general rules ------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shape {
    width: 100px;
    height: 100px;
    background-color: fuchsia;
}

@media all and (max-width:480px){
    
    .shape {
        border-radius: 50%;
    }
}