.container-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}


.contenuto{
  width: 200px;
  height: 200px;
  background-color: red;
}
