* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
.template {
	display: none;
}
body {
	display: flex;
	height: 100vh;
	width: 100%;
	max-height: 100vh;
	margin: 0;
	padding: 0;
	background-image:
  linear-gradient(to bottom,
    #009688 0px,
    #009688 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%
    );
}
.f-right {
	float: right;
}
.f-left {
	float: left;
}
.z-index-100{
	z-index: 100;
}
.container {
	margin: auto;
	width: 80%;
	/*larghezza minima per evitare sovrapposizioni*/
	min-width: 900px;
	height: 95%;
	z-index: 1;
}
.left, .right {
	float: left;
	height: 100%;
}
.left {
	width: 35%;
	background: blue;
	border-right: 1px solid #D6D6D6;
}
.right {
	width: 65%;
}
.header-left, .header-right {
	width: 100%;
	height: 70px;
	background: #EAEAEA;
}
.header-left .header-left-logo, .header-left .header-left-icons, .header-right .header-right-logo, .header-right .header-right-icons {
	display: flex;
	cursor: pointer;
	width: 50%;
	height: 100%;
}
.header-left .header-left-logo img, .header-right .header-right-logo img {
	width: 50px;
	height: 50px;
	margin: auto 0 auto 10px;
	border-radius: 100%;
}
.header-left .header-left-logo, .header-right .header-right-logo {
	float: left;
}
.header-left .header-left-icons, .header-right .header-right-icons {
	float: right;
	width: auto;
	margin-right: 15px;
	text-align: right;
}
.header-left .header-left-icons i, .header-right .header-right-icons i {
	margin: auto 10px;
	color: rgb(177, 177, 177);
	font-size: 22px;
}
.header-right h3 {
	margin-left: 15px;
	font-size: 16px;
	font-weight: normal;
}
.header-right h3 small {
	color: #6B7376;
}
.left-disclaimer {
	display: flex;
	width: 100%;
	height: 80px;
	background: #8EDAFC;
}
.left-disclaimer .left-disclaimer-logo {
	width: 50px;
	height: 50px;
	margin: auto 0 auto 20px;
	background: #F2FBFF;
	border-radius: 100%;
	text-align: center;
	color: #8EDAFC;
	line-height: 50px;
	font-size: 20px;
}
.left-disclaimer .left-disclaimer-text {
	width: calc(100% - 50px);
	height: auto;
	margin: auto;
	padding: 0 10px;
}
.left-disclaimer .left-disclaimer-text h3 {
	margin: 0;
	font-size: 16px;
	font-weight: normal;
}
.left-disclaimer .left-disclaimer-text a {
	color: #4F7485;
	font-size: 13.5px;
}
.left-searchbar {
	width: 100%;
	height: 50px;
	background: #FAFAFA;
}
.left-searchbar .left-searchbar-input {
	float: right;
	width: calc(85% - 7px);
	height: 36px;
	margin: 7px 7px 7px 0;
	padding: 0 10px;
	border-left: 0;
	border-top: 1px solid #F5F5F5;
	border-right: 1px solid #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
	border-radius: 0px 3px 3px 0;
	color: #B6B9BB;
}
.left-searchbar .search-label {
	display: inline-block;
	width: calc(15% - 7px);
	height: 36px;
	margin: 7px 0 7px 7px;
	border-top: 1px solid #F5F5F5;
	border-right: 0;
	border-bottom: 1px solid #F5F5F5;
	border-left: 1px solid #F5F5F5;
	background: #fff;
	line-height: 36px;
	text-align: center;
	color: #B6B9BB;
}
.left .contacts {
	width: 100%;
	height: calc(100% - 70px - 50px - 80px);
	background: #fff;
	overflow-y: scroll;
}
.left .contacts .contact {
	display: flex;
	cursor: pointer;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #F5F5F5;
}
.left .contacts .contact:hover {
	background: #f4f5f5;
}
.left .contacts .contact:last-child {
	border-bottom: 0;
}
.left .contacts .contact.active {
	border-bottom-color: transparent;
	background: #E9EBEB;
}
.left .contacts .contact .contact-logo {
	width: 60px;
	height: 60px;
	margin: auto 20px;
	border-radius: 100%;
	overflow: hidden;
}
.left .contacts .contact .contact-logo img {
	width: 100%;
	height: 100%;
}
.left .contacts .contact .contact-info {
	width: calc(100% - 100px);
	height: 60px;
	margin: auto 10px auto 0;
	line-height: 5px;
}
.left .contacts .contact .contact-info h3 {
	font-size: 17px;
	font-weight: normal;
}
.left .contacts .contact .contact-info span.f-right {
	color: #B6B9BB;
	font-size: 12px;
	font-weight: lighter;
}
.left .contacts .contact .contact-info small {
	color: #B6B9BB;
}
.right {
	position: relative;
}
.right .right-messages-container {
	width: 100%;
	height: calc(100% - 70px - 70px);
}
.right .right-messages {
	display: none;
	height: 100%;
	width: 100%;
	padding: 5% 10%;
	background-image: url('https://4d3dn.csb.app/boolzapp/img/mine.jpg');
	overflow-y: scroll;
}
.right .right-messages.active {
	display: block;
}
.right .right-messages .message {
	position: relative;
	margin: 5px 0;
	padding: 15px 15px 20px 15px;
	min-width: 20%;
	max-width: 60%;
	background: #fff;
	border-radius: 10px;
	font-size: 15px;
}
.right .right-messages .message::after {
	content: '';
	display: table;
	overflow: hidden;
	clear: both;
}
.right .right-messages .message:hover .message-options, .right .right-messages .message .message-options.active {
	display: block;
}
.right .right-messages .message .message-options {
	display: none;
	color: #B6B9BB;
	cursor: pointer;
}
.right .right-messages .message .message-options-panel {
	display: none;
	position: absolute;
	bottom: -75px;
	width: 150px;
	height: 80px;
	background: white;
	box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.75);
}
.right .right-messages .message.sent .message-options-panel {
	right: 0;
}
.right .right-messages .message.received .message-options-panel {
	left: 0;
}
.right .right-messages .message .message-options-panel.active {
	display: block;
}
.right .right-messages .message .message-options-panel > div {
	cursor: pointer;
	width: 100%;
	height: 50%;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
}
.right .right-messages .message .message-options-panel > div:hover {
	color: #B6B9BB;
}
.right .right-messages .message .message-time {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 10px;
	color: #B6B9BB;
}
.right .right-messages .message.received {
	background: white;
	float:left;
	clear:both;
}
.right .right-messages .message.sent {
	background: #D5F9BA;
	float: right;
	clear:both;
}
.right .right-footer {
	background-color: #F3EEEA;
	width: 100%;
	height: 70px;
}
.right .right-footer .new-message-inputs {
	width: 80%;
	height: 50px;
	margin: 10px 0;
	padding: 15px;
	border: 0;
	border-radius: 5px;
	font-size: 14px;
	font-weight: lighter;
}
.right .right-footer .right-footer-icon {
	width: 10%;
	height: 100%;
	line-height: 70px;
	text-align: center;
	font-size: 25px;
	color: #6B7376;
}
